

//color
$Purple_100: hsl(254, 88%, 90%);
$Purple_500: hsl(256, 67%, 59%);

$Yellow_100: hsl(31, 66%, 93%);
$Yellow_500: hsl(39, 100%, 71%);

$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 7%);

// Fonts
$font: "DM Sans", sans-serif;
$font-weights-400: 400;
$font-weights-500: 500;
$base-font-size: 1.125rem;


//Shadow
$shadow: 3px 3px 20px 1px rgba(0, 0, 0, 0.1);





