@use "../base/variables" as v;
@use "../base/mixin" as m;

.faster-container {
  @include m.container-initiate(v.$White,null,24-pixel,start );
  @include m.breakpoint(large){
    grid-column: 2;
    grid-row: 5/7;
    padding-right: 10px;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    @include m.breakpoint(large){
      font-size: 4.5rem;
    }
  }
  p {
    margin: 0;
    padding: 8px 0 20px;
    @include m.breakpoint(large){
      font-size: 1rem;
      font-weight: 600;

    }
  }
  img {
    width: 60%;
    @include m.breakpoint(large){
      width: 80%;
    }
  }
}
