@use "../base/variables" as v;
@use "../base/mixin" as m;

.manage-container {
  @include m.container-initiate(v.$White);


  h2 {
    margin-top: 10px;
    font-size: 1.6rem;
    line-height: 0.9;
    // font-weight: 600;
  }
}
