@use "../base/mixin" as *;

.wrapper {
  height: 100vh;
  max-width: 1120px;
  gap: 40px;
  padding: 24px 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @include breakpoint(medium) {
    padding: 24px 12.5%;
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 30px;
    padding: 24px;
  }
}
